<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BusinessFinanceSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21BCEC501D2181C4000CF599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BCEC691D2181C4000CF599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21BCEC741D2181C4000CF599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
